:host {
  .swiper {
    height: 530px;
    color: white;
    font-weight: 800;
    font-size: 102px;
    padding: 70px 55px;

    background: url(/assets/desktop_center.png) center 215px no-repeat,
      url(/assets/desktop_left.png) left bottom no-repeat,
      url(/assets/desktop_right.png) right bottom no-repeat;
    background-color: #23123a;
  }

  .swiper-mobile {
    background-color: #23123a;
    height: 410px;
    color: white;
    font-weight: 800;
    font-size: 53px;
    padding: 45px 16px;

    background: url(/assets/mobile_center.png) center 190px no-repeat,
      url(/assets/mobile_left.png) left bottom no-repeat,
      url(/assets/mobile_right.png) right bottom no-repeat;
    background-color: #23123a;
  }

  .container {
    background-color: #f1f5f8;
    padding: 0 60px 60px;

    h3 {
      font-size: 30px;
      font-weight: 700;
      color: #373737;
    }

    .item {
      background-color: white;
      padding: 50px 70px;
      font-size: 18px;

      .head {
        font-size: 20px;

        .review {
          font-size: 15px;
        }
      }

      .content {
        margin-top: 30px;

        .card {
          font-size: 15px;
          text-align: center;

          .status {
            color: white;
            background-color: #59d8d1;
            white-space: nowrap;
            border-radius: 15px;
            line-height: 30px;
            padding: 0 15px;
            margin-top: 15px;
          }
        }
      }

      .foot {
        margin-top: 32px;
        padding-top: 20px;
        border-top: 1px solid #7f949c;
      }

      a {
        color: #1194f6;
      }
    }

    &.mobile {
      padding: 0;

      h3 {
        font-size: 18px;
        padding: 0 16px;
      }

      .item {
        padding: 20px 0;
        font-size: 15px;

        .head {
          font-size: 17px;
          padding: 0 16px;
        }

        .content {
          margin-top: 15px;
          padding: 0 16px;
        }

        .foot {
          margin-top: 20px;
          padding: 15px 16px 0;
        }
      }
    }
  }
}
