<mat-list>
  <mat-list-item>
    We are going to write test for the following items ngOnchanges, @output,
    @input and ng-content
  </mat-list-item>
  <h3 mat-subheader>ng-content</h3>
  <mat-list-item>
    <ng-content></ng-content>
  </mat-list-item>
  <ng-container *ngIf="previousPrice">
    <h3 mat-subheader>ngOnchanges, Previous Price Value:</h3>
    <mat-list-item>
      {{ previousPrice }}
    </mat-list-item>
  </ng-container>
  <h3 mat-subheader>@input, Current Price:</h3>
  <mat-list-item>
    {{ price }}
  </mat-list-item>
  <h3 mat-subheader>@output, Change Parnet Price:</h3>
  <mat-list-item>
    <button mat-raised-button color="primary" (click)="updateParentPrice(9876)">
      Update input value to {{ 9876 | currency }}
    </button>
  </mat-list-item>
</mat-list>
